body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-area: 1 / 1 / 2 / 5;
    font-size: 50px;  
    text-align: right;
    width: 600px;
    border: 2px solid black;
}

#the-wheel {
    width: 400px;
    height: 400px;
    background-color: gray;
    border-radius: 50%;
    border: 25px solid black;
    display: flex;
    flex-direction: center;
    grid-area: 2 / 1 / 6 / 5; 
    justify-self: center;
    margin: 15px;
    position: relative;
}

#center {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    margin: 125px;
    box-shadow: inset 5px 3px 15px -3px rgb(66, 66, 66), inset 5px -5px 15px -3px rgb(66, 66, 66), inset -5px 5px 15px -3px rgb(66, 66, 66);
}    

#start-button {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: rgb(0, 133, 133);
    text-align: center;
    border: 1px solid rgb(69, 69, 69);
    margin: 172px 0 0 150px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px -3px rgb(63, 2, 2), inset 5px -5px 5px -3px  rgb(63, 2, 2),inset -5px 5px 15px -3px rgb(63, 2, 2);
}

#green-quad {
    width: 195px;
    height: 195px;
    background-color: rgb(0, 61, 0);
    border-radius: 200px 0px 0px 0px;
    border: 2px solid green;
    box-shadow: inset 5px 5px 25px -3px green, inset 5px -5px 25px -3px green, inset -5px 5px 25px -3px green;
}

#yellow-quad {
    width: 195px;
    height: 195px;
    background-color: rgb(43, 43, 1);
    border-radius: 0px 0px 0px 210px;
    border: 2px solid gold; 
    position: absolute;
    margin: 201px 0 0 0;
    box-shadow: inset 5px 5px 25px -3px gold,inset 5px -5px 25px -3px gold, inset -5px 5px 25px -3px gold;
}

#red-quad {
    width: 195px;
    height: 195px;
    background-color: rgb(64, 1, 1);
    border-radius: 0px 200px 0px 0px;
    margin: 0px 0px 0px 2px;
    border: 2px solid red;
    box-shadow: inset 5px 5px 25px -3px red, inset 5px -5px 25px -3px red, inset -5px 5px 25px -3px red;
}

#blue-quad {
    width: 195px;
    height: 195px;
    background-color: rgb(2, 2, 83);
    border-radius: 0px 0px 200px 0px;
    border: 2px solid blue;
    position: absolute;
    margin: 201px 0 0 201px;
    box-shadow: inset 5px 5px 25px -3px blue,inset 5px -5px 25px -3px  blue,inset -5px 5px 25px -3px blue;
}

#instructions {
    grid-area: 2 / 5 / 6 / 7;
    height: 400px;
    width: 200px; 
    margin: 10px 0 10px 20px;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    text-align: center;
}

#level {
    grid-area: 6 / 1 / 7 / 8;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center; 
}

#level-display {
    grid-area: 6 / 5 / 6 / 9;
    border: 2px solid black;
}

#green-quad:hover {
    background-color: rgb(1, 85, 1);
}
#red-quad:hover {
    background-color: rgb(140, 0, 0);
}
#blue-quad:hover {
    background-color: rgb(0, 0, 138);
}
#yellow-quad:hover {
    background-color: rgb(119, 119, 1);
}

#start-button:hover {
    background-color: rgb(0, 148, 148);
}